{{ if .Site.Params.widgets.facebook_like }}

<aside id="facebook-likebox-2" class="widget widget_facebook_likebox">
  <h3 class="widget-title">
    <a href="https://www.facebook.com/ItsAFunderfulWorld">Follow FunderfulWorld on Facebook</a>
  </h3>
  <div id="fb-root" class=" fb_reset">
    <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
      <div>
	<iframe name="fb_xdm_frame_http" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" style="border: medium none;" src="http://staticxx.facebook.com/connect/xd_arbiter/r/ao6eUeuGXQq.js?version=42#channel=ffde3d0f28c018&amp;origin=http%3A%2F%2Ffunderfulworld.com" frameborder="0">
	</iframe>
	<iframe name="fb_xdm_frame_https" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" style="border: medium none;" src="https://staticxx.facebook.com/connect/xd_arbiter/r/ao6eUeuGXQq.js?version=42#channel=ffde3d0f28c018&amp;origin=http%3A%2F%2Ffunderfulworld.com" frameborder="0"></iframe>
      </div>
    </div>
    
    <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
      <div>
      </div>
    </div>
  </div>
  <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/ItsAFunderfulWorld" data-width="200" data-height="130" data-hide-cover="false" data-show-facepile="false" data-show-posts="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=249643311490&amp;container_width=200&amp;height=130&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FItsAFunderfulWorld&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;show_posts=false&amp;width=200">
    <span style="vertical-align: bottom; width: 200px; height: 130px;">
      <iframe name="f2e417042e0d5ba" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:page Facebook Social Plugin" style="border: medium none; visibility: visible; width: 200px; height: 130px;" src="https://www.facebook.com/v2.3/plugins/page.php?app_id=249643311490&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fao6eUeuGXQq.js%3Fversion%3D42%23cb%3Df36578f5aa44de6%26domain%3Dfunderfulworld.com%26origin%3Dhttp%253A%252F%252Ffunderfulworld.com%252Fffde3d0f28c018%26relation%3Dparent.parent&amp;container_width=200&amp;height=130&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FItsAFunderfulWorld&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;show_posts=false&amp;width=200" class="" frameborder="0" height="130px" width="200px"></iframe>
    </span>
  </div>
</aside>
{{ end }}
