{{ if .Site.Params.widgets.recent_articles }}
<aside id="rpwe_widget-3" class="widget rpwe_widget">
    <h3 class="widget-title">
        {{with .Site.Data.l10n.widgets.recent_articles.title}}{{.}}{{end}}
    </h3>
    <div class="rpwe-block">
        <ul class=" rpwe-ul">
            {{ range first 5 (where .Site.RegularPages "Type" "post") }}
            <li class="rpwe-il rpwe-classfix">
                <a class="rpwe-img" href="{{ .Permalink }}" class="thumbnail">
		    {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
                    <img class="rpwe-alignleft rpwe-thumb" src="{{ .Params.banner | absURL }}" alt="{{ $.Title }}">
		    {{else}}
                    <span class="thumbnail-image thumbnail-none"></span>
		    {{ end }}
                </a>
                <h3 class="rpwe-title">
		    <a href="{{ .Permalink }}" title="Permalink to {{ .Title }}" >{{ .Title }}</a>
		</h3>
                <time class="rpwe-time published" datetime="{{ .Date }}">{{ .Date.Format .Site.Params.date_format }}</time>
            </li>
            {{ end }}
        </ul>
    </div>
</aside>
<style>
 .rpwe-block ul{list-style:none!important;margin-left:0!important;padding-left:0!important;}.rpwe-block li{border-bottom:1px solid #eee;margin-bottom:10px;padding-bottom:10px;list-style-type: none;}.rpwe-block a{display:inline!important;text-decoration:none;}.rpwe-block h3{background:none!important;clear:none;margin-bottom:0!important;margin-top:0!important;font-weight:400;font-size:12px!important;line-height:1.5em;}.rpwe-thumb{border:1px solid #EEE!important;box-shadow:none!important;margin:2px 10px 2px 0;padding:3px!important;}.rpwe-summary{font-size:12px;}.rpwe-time{color:#bbb;font-size:11px;}.rpwe-comment{color:#bbb;font-size:11px;padding-left:5px;}.rpwe-alignleft{display:inline;float:left;}.rpwe-alignright{display:inline;float:right;}.rpwe-aligncenter{display:block;margin-left: auto;margin-right: auto;}.rpwe-clearfix:before,.rpwe-clearfix:after{content:"";display:table !important;}.rpwe-clearfix:after{clear:both;}.rpwe-clearfix{zoom:1;}
</style>
{{ end }}
