{{ $min_count := 1 }}
{{ if .Site.Params.widgets.tag_cloud }}
{{ if not .Site.Data.l10n.widgets.tag_cloud.min_count }}
{{ $min_count := .Site.Data.l10n.widgets.tag_cloud.min_count }}
{{ end }}
{{ $mag_factor :=  mul ($min_count) 6 }}
<aside id="tag_cloud-2" class="widget widget_tag_cloud">
  <h3 class="widget-title">        {{with .Site.Data.l10n.widgets.tag_cloud.title}}{{.}}{{end}}</h3>
  <div class="tagcloud">
<!--    <h2>        {{with .Site.Data.l10n.widgets.tag_cloud.title}}{{.}}{{end}}</h2> -->
{{ $baseurl := .Site.BaseURL }}
{{ range $name, $value := .Site.Taxonomies.tags }}
    {{ if (gt $value.Count $min_count) }}
    <a href="{{ $baseurl }}tags/{{ $name | urlize }}" style="font-size: {{ add ($value.Count) $mag_factor }}px;" title="{{ ($value.Count) }} topics">
      <!--a href="{{ $baseurl }}/tags/{{ $name | urlize }}"-->
      {{ $name | title }}
      {{ end }}
      {{ end }}
  </div>
  {{ end }}
</aside>
