<!DOCTYPE html>
<html lang="en-US">
  {{ partial "header" . }}
  <body class="home blog logged-in admin-bar no-customize-support custom-background ">
    <div class="wrapper">
      <header id="branding" >
	{{ partial "head" . }}
	{{ partial "nav" . }}
      </header>
      <div id="main" class="container clearfix">
	<div id="container">
	  <div {{ if .Site.Params.widgets }}id="primary"{{ end }} class="no-margin-left">
	    <div id="content">
	      {{ partial "single_article" . }}
	    </div>
	  </div><!-- #content -->
	</div><!-- #primary -->
	{{ if not .Params.widgets }}
	<div id="secondary">
	  {{ partial "widgets/search" . }}
	  {{ partial "widgets/categories" . }}
	  {{ partial "widgets/archive" . }}
	  {{ partial "widgets/tag_cloud" . }}
	</div><!-- #secondary -->
	{{ end }}
      </div><!-- #container -->   
    </div><!-- #main -->
    {{ partial "footer.html" . }}
  </body>
</html>
