<!DOCTYPE html>
<html lang="en-US">
  {{ partial "header" . }}
  <body class="home blog logged-in admin-bar no-customize-support custom-background ">
    <div class="wrapper">
      <header id="branding" >
	{{ partial "head" . }}
	{{ partial "nav" . }}
      </header>
      <div id="main" class="container clearfix">
	<div id="container">
	  <div {{ if .Site.Params.widgets }}id="primary"{{ end }} class="no-margin-left">
	    <div id="content">
              <ul class="category-list">
                {{ $data := .Data }} {{ range $key, $value := .Data.Terms.ByCount }}
                <li class="category-list-item">
                  <a class="category-list-link" href="{{ $value.Name | urlize }}">{{ $value.Name }}</a>
                  <span class="category-list-count">{{ $value.Count }}</span>
                </li>
                {{ end }}
              </ul>
	    </div>
	  </div><!-- #content -->
	</div><!-- #primary -->
	{{ partial "widgets" . }}
      </div><!-- #container -->   
    </div><!-- #main -->
    {{ partial "footer.html" . }}
  </body>
</html>
