.wrap-element {
    position: relative;
    overflow: hidden;
    padding-top: 45%;
}

.wrapped-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
