{{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
{{ $readmore := "Read More" }}
{{ if .Site.Data.l10n.articles.read_more }}
{{ $readmore := .Site.Data.l10n.articles.read_more }}
{{ end }}
{{ range $paginator.Pages }}
<section id="main" class="post type-post status-publish format-standard has-post-thumbnail hentry">
  <article>
    {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
    <figure class="post-featured-image">
      <a href="{{ .RelPermalink }}" itemprop="url">
	<img src="{{ .Params.banner }}" class="attachment-featured size-featured wp-post-image"/>
      </a>
    </figure> 
    {{ end }}
    
    {{ partial "article_header" . }}
    <div class="article-entry entry-content clearfix" itemprop="articleBody">
      <p>
        {{ printf "%s" .Summary | markdownify }}
        <br>
      </p>
      {{ partial "share" . }}
    </div>
    {{ partial "article_footer" . }}
    <span>
      <a class="readmore" href="{{ .Permalink }}">
	{{ $readmore }}
      </a>
    </span>
    
</div>


</article>
</section>
{{ end }}
{{ partial "pagination" . }}
