{{ if and (or .PrevInSection .NextInSection) (not .Params.noprevnext) }}
<ul class="default-wp-page clearfix">
  {{ if .PrevInSection }}
  <li class="previous">
    <a href="{{ .PrevInSection.Permalink }}" rel="prev">
      <span class="meta-nav">
	{{with .Site.Data.l10n.articles.linked_posts.older}}{{.}}{{end}}
      </span>
      {{ .PrevInSection.Title }}
    </a>
  </li>
  {{ end }}
  
  {{ if .NextInSection }}
  <li class="next">
    <a href="{{ .NextInSection.Permalink }}" rel="next">
      {{ .NextInSection.Title }}
      <span class="meta-nav">
	{{with .Site.Data.l10n.articles.linked_posts.newer}}{{.}}{{end}}
      </span>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
