<figure>
    <a href="{{ .Permalink }}" title="{{ .Title }}">
	<img src="{{ .Params.banner  | absURL }}" class="pngfix wp-post-image" alt="{{ .Title }}" title="{{ .Title }}">
    </a>
</figure>
<article class="featured-text">
    <div class="featured-title">
	<a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
    </div><!-- .featured-title -->
    <div class="featured-content">{{ printf "%s" .Summary | markdownify }}
    </div><!-- .featured-content -->
</article><!-- .featured-text -->
